body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff
}

p{
  color: #333;
  font-size: 0.85rem;
}
 li {
   color: #333;
   font-size: 0.85rem;
 }

.about-section p{
  margin: 10px 0px;
}
/*--titile--*/
#title h1 {
  color: #fff;
  font-size: 4rem;
}

.tagline h2 {
  color: #fff;
  font-size: 0.7rem;
}

.aboutheading h2 {
  font-size: 1.7rem;
}

.aboutheading b {
  font-size: 0.85rem;
  margin: 20px 0px;
}

.collapse {
  background-color: #fff;
}

/*----contact----*/
.contact-image h2 {
  color: #fff;
  font-size: 1.2rem;
}

.contact-image p {
  color: #fff;
  font-size: 0.8rem;
}

.tel {
  color: #fff;
  font-size: 1rem;
  text-decoration: #fff;
  margin: 20px 0px;
}

.tel a {
  color: #000;
}

.email {
  color: #fff;
  font-size: 1rem;
  text-decoration: #fff;
}

.email a {
  color: #000;
}

/*----navbar---*/
#navbarToggleExternal1 a {
  color: #fff;
}

#navbarToggleExternal a {
  color: #fff;
}

.main-nav {
  width: 50%;
  margin: 50px 0px 0px 50px;
}

/*---button---*/
.btn.book-button {
  border: 3px solid red;
  background-color: #000;
  font-weight: bold;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.btn.book-button:hover {
  border: 3px solid red;
  background-color: #fff;
  font-weight: bold;
  color: #000;
  font-size: 13px;
}

.btn.book-button1 {
  border: 3px solid red;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}

.btn.book-button1:hover {
  border: 3px solid red;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
}

/*.button {
  background-color: #000;
  border: 3px solid red;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
    border: 3px solid red;
  background-color: #fff;
  font-weight: bold;
  color: #000;}

  .button1 {
    background-color: white;
    border: 3px solid red;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1:hover {
      border: 3px solid red;
    background-color: #000;
    font-weight: bold;
    color: #fff;}*/
.colored-section {
  background: linear-gradient(rgba(0, 144, 71, 0.5), rgba(0, 144, 71, 0.5)), url('../images/op.jpg');
  background-size: cover;
}

.contactus-section {
  background: linear-gradient(rgba(0, 144, 150, 0.5), rgba(0, 144, 150, 0.5)), url('../images/last.jpg');
  background-size: cover;
}

.taglinelogo {
  width: 30%;
}

.blacklogo {
  width: 30%;
}

.mainlogo {
  width: 30%;
}

.small-logo {
  width: 30%;
}

.small-image {
  margin: 50px 30px 0px 0px;
}

.contact-image {
  margin: 50px 0px 70px 0px;
}

.phone-img {
  position: absolute;
  bottom: 0%;
}

.lappy {
  position: absolute;
  right: 0%;
}

.button-demo {
  margin: 50px 0px 10px 0px;
}

/*-------health----------*/
.health-logo {
  width: 100%;
  background-color: #fff;
  margin: 50px 0px;
}

.health-logo h2 {
  color: #fff;
  text-align: right;
  background-color: #000;
}

.aboutlogo {
  width: 95%;
  margin: 50px 0px;
}

/*-----white-section---*/

.aboutheading
{
  margin-left: 170px;
  margin-right: auto;
  margin-top: 50px;
}

.aboutheading2 {
  margin-left: auto;
  margin-right: 190px;
  margin-top: 100px;
}

.aboutheading a {
  color: red;
}
